{% extends 'base.html.twig' %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light justify-content-between fixed-top p-0" style="background-color:#2b9c8d">
        <div class="navbar-brand dis-flex flex-row">
            <a href="#"><img src="img/logo.png" alt="idea_logo" width="100px"></a>
            {% block profilePic %}<a class="profile_pic" href="profile"><img class="rounded-circle " src="{{ asset('img/pic.jpg') }}" alt="idea_logo"></a> {% endblock %}        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="menu">
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <ul class="navbar-nav mt-2 mt-lg-0 px-5 ml-auto d-flex d-flex align-items-end">
                <li class="nav-item active ">
                    <a class="nav-link text-capitalize" href="home"><i class="fas fa-home mx-1"></i>Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-capitalize text-white" href="profile"><i class="fas fa-user mx-1"></i>Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-capitalize text-white" href="friends"><i class="fas fa-users mx-1"></i>Friends</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-capitalize text-white" href="messages/1"><i class="fab fa-facebook-messenger mx-1"></i>Messages</a>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown"></a>
                    <div class="dropdown-menu">

                        <a class="dropdown-item" href="#"><i class="fas fa-cogs  mx-1 small"></i>Settings</a>

                            <a class="dropdown-item  border-top mt-2" href="{{ path('fos_user_security_logout') }}"><i class="fas fa-sign-out-alt mx-1 small"></i>
                                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                            </a>






                    </div>

            </ul>
    {% else %}
            <ul class="navbar-nav mt-2 mt-lg-0 px-5 ml-auto d-flex d-flex align-items-end">
                <li class="nav-item">
                    <a class="nav-link text-capitalize text-white" href="{{ path('fos_user_security_login') }}"><i class="fas fa-sign-in-alt mx-1 small"></i>{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                </li>
            </ul>
    {% endif %}
            <form class="form-inline my-2 my-lg-0 d-flex justify-content-end">
                <input class="form-control mr-sm-2 bg-transparent py-0" type="search" placeholder="Search" aria-label="Search">
                <button class="btn bg-transparent my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
    </nav>
{% endblock %}
  {%  block sideBare %}
      <div class="col-2 side_bar-left mx-3 px-0">
          <div class="left_card">
              <ul class="list-group list-group-flush">
                  <li class="list-group-item text-capitalize"><a href=""> news feed</a></li>
                  <li class="list-group-item text-capitalize"><a href=""> messages</a></li>
                  <li class="list-group-item text-capitalize"><a href=""> other staff</a></li>
              </ul>
          </div>
      </div>
  {% endblock %}

{% block post %}

  {% for item in ideasgroup%}
      {% set idea=item[0] %}
      {%  set commentForm =item[1] %}
      {%  set commentsList=item[2] %}
      {%  set rating=item[3] %}

<div class="center_card mb-2 idea">
    {#**************affichage statique de rating *********************#}
    <div class="ratingstatic d-flex flex-row align-items-lg-baseline">

        {% if rating|length ==0 %}
            <h6>0</h6>
            {% for i in 1..5 %}

                <img src="{{ asset('img/star1.png') }}">

            {% endfor %}
        {%  else %}
            <h6> {{ rating['moy']|round }}</h6>
            {% for i in 1..5 %}
                {% if i<= rating['nbr'] %}
                    <img src="{{ asset('img/star2.png') }}">
                {% else %}
                    <img src="{{ asset('img/star1.png') }}">
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    {#***************************************#}
    {% if idea.attachmentPath  %} <img class="card-img-top img-responsive" src="{{ idea.attachmentPath }}" alt="idea">
    {% endif %}
    <div class="card-body d-flex align-items-center flex-column">
        <h4 class="card-title text-capitalize text-dark">{{ idea.title }}      <img class="rounded-circle" src="{{ asset('img/bronz.png') }}" width="40px" height="40px"></h4>
        <div class="text-muted d-flex flex-row text-capitalize">
            <h6>{{ idea.compareDates() }}</h6><span>/</span><h6>{{ idea.IdUser }}</h6>
        </div>
        <div>
            <p class="card-text">{{ idea.content }}</p>
        </div>
    </div>
    <div class="card-footer text-muted d-flex justify-content" style="background-color: #cdcdcb">

        <div class="card_img">
            <img class="rounded-circle" src="{{ asset('img/pic.jpg') }}" alt="idea_logo">
        </div>


        {#*****************************comments number*************************#}
        <div  data-toggle="collapse" data-target="{{ '#comments'~idea.id }}" ><i class="far fa-comment-alt mx-lg-3" style="color: black">{{ commentsList|length }}</i></div>
        {#*****************************rating*************************#}

        <div class="d-flex flex-column align-items-sm-start">
            <div class="rating d-flex flex-row align-items-sm-start">
                <form method="post" id="{{'rating'~idea.id}}"  action="addRating/{{ idea.id}}">



                    <input type="hidden" id="{{ idea.id~'1_hidden' }}" value="1">
                    <img src="{{ asset('img/star1.png') }}" onclick="change({{ idea.id }},this.id);" id="{{ idea.id~'1' }}" class="{{ idea.id}}">
                    <input type="hidden" id="{{ idea.id~'2_hidden' }}" value="2">
                    <img src="{{ asset('img/star1.png')}}" onclick="change({{ idea.id }},this.id);" id="{{ idea.id~'2' }}" class="{{ idea.id}}">
                    <input type="hidden" id="{{ idea.id~'3_hidden' }}" value="3">
                    <img src="{{ asset('img/star1.png')}}" onclick="change({{ idea.id }},this.id);" id="{{ idea.id~'3' }}" class="{{ idea.id}}">
                    <input type="hidden" id="{{ idea.id~'4_hidden' }}" value="4">
                    <img src="{{ asset('img/star1.png')}}" onclick="change({{ idea.id }},this.id);" id="{{ idea.id~'4' }}" class="{{ idea.id}}">
                    <input type="hidden" id="{{ idea.id~'5_hidden' }}" value="5">
                    <img src="{{ asset('img/star1.png')}}" onclick="change({{ idea.id }},this.id);" id="{{ idea.id~'5' }}" class="{{ idea.id}}">



                    <input type="hidden" name="{{ idea.id~'rating' }}" id="{{ idea.id~'rating' }}" value="0">



                </form>
            </div>

            {#********* la liste des commentaire ************************#}

            <div id="{{ 'comments'~idea.id }}" class="collapse" style="margin-top: 2rem; margin-left: -5rem; width: 25rem">
                <hr>
                {% for comment in commentsList %}
                    <div class="card my-xl-auto" style="border-radius: 15px;background-color: #eff1f3; margin-bottom: 5px !important;width: fit-content;">
                        <div class="card-body p-2">
                            {{ comment.content }}
                        </div>
                        <div class="card-footer text-muted d-flex justify-content-between small p-1">
                            <div style="color: #0d47a1"><h6>{{ comment.User }} </h6></div>
                            <div>{{ comment.compareDates() }}</div>
                        </div>
                    </div>


                {% endfor %}



                <div class="input-group my-2 d-flex flex-column" >
                    <hr>
                    <div>{{ form_start(commentForm) }}
                        {{ form_widget(commentForm.content,{'attr':{'style' : 'border-radius: 15px;margin : 5px 0;margin-right : 0;'}}) }}
                    </div>
                    <div class="input-group-append">
                        {{ form_rest(commentForm) }}
                        {{ form_end(commentForm) }}
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
      {% else %}
      <div class="alert alert-info" role="alert">
          no content to display...
      </div>
  {% endfor %}



    <div class="d-flex justify-content-center m-5">
        <button class="btn btn-outline-primary load_more text-uppercase">load more</button>
    </div>
{% endblock %}



{% block featured %}
    <ul class="list-group list-group-flush">
        <li class="list-group-item text-capitalize d-flex p-2">
            <div class="side_img mr-2">
                <a href="#" class="side_img"><img class="rounded-circle" src="{{ asset('img/pd.jpg') }}" alt="idea_logo"></a>
            </div>
            <div>
                <p class="small mb-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <p class="small mb-0">2 days ago</p>
            </div>
        </li>
        <li class="list-group-item text-capitalize d-flex p-2">
            <div class="side_img mr-2">
                <a href="#" class="side_img"><img class="rounded-circle" src="{{ asset('img/jp.jpg') }}" alt="idea_logo"></a>
            </div>
            <div>
                <p class="small mb-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <p class="small mb-0">2 days ago</p>
            </div>
        </li>
        <li class="list-group-item text-capitalize d-flex p-2">
            <div class="side_img mr-2">
                <a href="#" class="side_img"><img class="rounded-circle" src="{{ asset('img/av.jpg') }}" alt="idea_logo"></a>
            </div>
            <div>
                <p class="small mb-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <p class="small mb-0">2 days ago</p>
            </div>
        </li>
        <li class="list-group-item text-capitalize d-flex p-2">
            <div class="side_img mr-2">
                <a href="#" class="side_img"><img class="rounded-circle" src="{{ asset('img/tg.jpg') }}" alt="idea_logo"></a>
            </div>
            <div>
                <p class="small mb-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <p class="small mb-0">2 days ago</p>
            </div>
        </li>
    </ul>
{% endblock %}

 {% block recent %}
     <ul class="list-group list-group-flush">
         <li class="list-group-item text-capitalize d-flex p-2">
             <div class="side_img mr-2">
                 <a href="#" class="side_img"><img class="rounded-circle" src="{{ asset('img/np.jpg') }}" alt="idea_logo"></a>
             </div>
             <div>
                 <p class="small mb-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                 <p class="small mb-0">2 days ago</p>
             </div>
         </li>
         <li class="list-group-item text-capitalize d-flex p-2">
             <div class="side_img mr-2">
                 <a href="#" class="side_img"><img class="rounded-circle" src="{{ asset('img/st.jpg') }}" alt="idea_logo"></a>
             </div>
             <div>
                 <p class="small mb-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                 <p class="small mb-0">2 days ago</p>
             </div>
         </li>
         <li class="list-group-item text-capitalize d-flex p-2">
             <div class="side_img mr-2">
                 <a href="#" class="side_img"><img class="rounded-circle" src="{{ asset('img/im.jpg') }}" alt="idea_logo"></a>
             </div>
             <div>
                 <p class="small mb-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                 <p class="small mb-0">2 days ago</p>
             </div>
         </li>
         <li class="list-group-item text-capitalize d-flex p-2">
             <div class="side_img mr-2">
                 <a href="#" class="side_img"><img class="rounded-circle" src="{{ asset('img/arya.jpg') }}" alt="idea_logo"></a>
             </div>
             <div>
                 <p class="small mb-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                 <p class="small mb-0">2 days ago</p>
             </div>
         </li>
     </ul>
 {% endblock %}
{%  block addidea %}
    <div data-target="#form-dialog" data-toggle="modal" class="btn btn-primary pmd-z-depth add-adea-btn" >+</div>
    <div tabindex="-1" class="modal fade " id="form-dialog" style="display: none;" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content add-idea-modal">
                <div class="modal-header pmd-modal-bordered">
                    <h2 class="pmd-card-title-text">New idea</h2>
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>

                </div>
                <div class="modal-body">
                    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>

            </div>
        </div>
    </div>


{% endblock %}